dash
dash-core-components
dash-html-components
dash-renderer
dash-table
decorator==4.3.2
defusedxml==0.5.0
entrypoints==0.3
Flask
Flask-Compress
gunicorn
jedi
Jinja2
jsonschema==2.6.0
jupyter
numpy
pandas
requests
tornado